/* Hero Section */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to left, #9a330d, #010916);
  color: white;
  
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.hero-section {
  max-width: 1200px auto 0 auto; /* Lărgit pentru a acomoda ambele coloane */
  margin: 600px auto 0 auto;
  background-color: #f8f9fa;
  padding: 50px 20px;
  text-align: center;
  
  color: white;
}

/* Hub Description Section */
.hub-description-section {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 60px auto;
  align-items: center;
  padding: 50px 20px;
  background-color: #ffffff;
  width: 100%;
}

/* Team Section */
.hub-people {
  padding: 50px 0;
  text-align: center;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto; /* Centrare */
}

.team-member-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  min-height: 200px; /* Asigură o înălțime minimă */
}

.slick-slide {
  padding: 0 15px;
}

.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #007bff;
}
/* Ascunde săgețile implicite */
.slick-prev:before, .slick-next:before {
  display: none; /* Ascunde textul săgeților implicite */
}

/* Stiluri personalizate pentru săgețile de navigare */
.slick-prev, .slick-next {
  width: 30px; /* Lățimea săgeților */
  height: 30px; /* Înălțimea săgeților */
  background-color: rgb(255, 255, 255); /* Fundalul săgeților */
  border-radius: 50%; /* Forma rotundă a săgeților */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Asigură că săgețile sunt deasupra altor elemente */
  cursor: pointer; /* Schimbă cursorul pentru interactivitate */
}

/* Stilizare pentru săgețile de navigare cu imagini */
.slick-prev {
  left: 10px; /* Poziția săgeții anterior */
}

.slick-next {
  right: 10px; /* Poziția săgeții următoare */
}

/* Adaugă săgeți personalizate folosind pseudo-elemente */
.slick-prev::after, .slick-next::after {
  content: '';
  display: block;
  width: 12px; /* Lățimea săgeților */
  height: 12px; /* Înălțimea săgeților */
  border: solid rgb(0, 0, 0); /* Culoarea săgeților */
  border-width: 2px 2px 0 0; /* Grosimea săgeților */
  transform: rotate(-45deg); /* Rotirea săgeților */
}

.slick-prev::after {
  left: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(-135deg); /* Poziția și rotația pentru săgeata stângă */
}

.slick-next::after {
  right: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg); /* Poziția și rotația pentru săgeata dreaptă */
}
.footer{
  max-width: 1200px auto 0 auto; /* Lărgit pentru a acomoda ambele coloane */
  margin: 100px auto 0 auto;
}