/* Base Navbar Styles */
/* Base Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's below other elements with higher z-index */
  left: 0;
}



.navbar__brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__right {
  margin-left: auto;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin-right: 50px;
  padding: 0;
}

.navbar__item {
  margin-left: 30px;
}

.navbar__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #007BFF;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 60px; /* Adjust based on the height of the navbar */
  left: 0; /* Make sidebar always visible */
  padding: 20px;
  background-color: #ffffff;
  height: calc(100% - 60px); 
  width: 200px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar__menu {
  list-style: none;
  margin-top: 70px;
  padding: 0;
}

.sidebar--hidden {
  display: none; /* Hide sidebar when needed */
}

.sidebar__item {
  margin-bottom: 10px;
  margin-left: 20px; /* Removed unnecessary margin adjustments */
  margin-top: 30px;
}

.sidebar__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar__link:hover {
  color: #007BFF;
}

/* Removed Hover area as it's no longer needed */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    box-shadow: none;
  }

  .sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar__menu.open, .sidebar__menu.open {
    display: flex;
  }

  .navbar__toggler {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
  }

  .navbar__toggler .line {
    width: 24px;
    height: 3px;
    background-color: #000;
    transition: all 0.3s;
  }

  .navbar__toggler .open {
    transform: rotate(45deg);
  }

  .navbar__toggler .open:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggler .open:nth-child(3) {
    transform: rotate(-45deg);
  }
}